[submodule "catkin_ws/src/ros-pwm-pca9685"]
	path = catkin_ws/src/ros-pwm-pca9685
	url = git@github.com:/dheera/ros-pwm-pca9685
[submodule "catkin_ws/src/ros-imu-bno055"]
	path = catkin_ws/src/ros-imu-bno055
	url = git@github.com:/dheera/ros-imu-bno055
[submodule "catkin_ws/src/ros-system-stats"]
	path = catkin_ws/src/ros-system-stats
	url = git@github.com:/dheera/ros-system-stats
[submodule "catkin_ws/src/ros-object-detection-haar"]
	path = catkin_ws/src/ros-object-detection-haar
	url = git@github.com:/dheera/ros-object-detection-haar
