<launch>
    <node ns="imu" name="imu_node" pkg="imu_bno055" type="bno055_i2c_node" respawn="true" respawn_delay="2">
        <param name="device" type="string" value="/dev/i2c-3"/>
        <param name="address" type="int" value="40"/>
        <param name="rate" type="int" value="30"/>
        <param name="frame_id" type="string" value="imu"/>
    </node>
    <node ns="pwm" name="pwm_node" pkg="pwm_pca9685" type="pca9685_node" respawn="true" respawn_delay="2">
      <rosparam>
        device: /dev/i2c-1
        address: 64
        frequency: 50
      </rosparam>
    </node>
    <node ns="pwm" name="animation_node" pkg="animation" type="animation_node" respawn="true" respawn_delay="2">
    </node>
    <node ns="system" name="remote_node" pkg="remote" type="remote_node" respawn="true" respawn_delay="2">
    </node>
    <node ns="system" name="system_stats_node" pkg="system_stats" type="system_stats_node" respawn="true" respawn_delay="2">
    </node>

  <node ns="camera" name="object_detection_haar_node" pkg="object_detection_haar" type="object_detection_haar_node" respawn="true" respawn_delay="2">
    <param name="cascade" type="string" value="haarcascade_frontalface_alt2.xml"/>
  </node>

  <node ns="light" name="light_node" pkg="light" type="light_node" respawn="true" respawn_delay="2">
  </node>

  <node name="camera" pkg="usb_cam" type="usb_cam_node" output="screen" respawn="true" respawn_delay="2">
    <param name="video_device" value="/dev/video0" />
    <param name="image_width" value="320" />
    <param name="image_height" value="240" />
    <param name="framerate" value="15" />
    <param name="pixel_format" value="yuyv" />
    <param name="camera_frame_id" value="camera" />
    <param name="io_method" value="mmap"/>
  </node>
</launch>
