<launch>
    <node ns="imu" name="imu_node" pkg="imu_bno055" type="bno055_i2c_node" respawn="true" respawn_delay="2">
        <param name="device" type="string" value="/dev/i2c-3"/>
        <param name="address" type="int" value="40"/>
        <param name="rate" type="int" value="30"/>
        <param name="frame_id" type="string" value="imu"/>
    </node>
    <node ns="pwm" name="pwm_node" pkg="pwm_pca9685" type="pca9685_node" respawn="true" respawn_delay="2">
        <param name="device" type="string" value="/dev/i2c-1"/>
        <param name="frame_id" type="string" value="pwm"/>
    </node>
    <node ns="system" name="system_stats_node" pkg="system_stats" type="system_stats_node" respawn="true" respawn_delay="2">
    </node>
</launch>
