[Unit]
Description=Robot Service
After=syslog.target network.target

[Service]
Type=simple
User=robot
ExecStart=/bin/bash -c "export ROS_HOSTNAME=luxo.local && source /opt/ros/melodic/setup.bash && roslaunch /etc/robot.launch"
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
